h1{
    text-align: center;
    margin: 0px;
}
.pfp{
    border-radius: 50%;
    width: 80%;
    max-width: 250px;
}

.socialIcons{
    max-width: 50px;
}

.wholePage { 
    display: grid;
    grid-template-areas: 
      "L nav R"
      "L title R"
      "L social R"
      "L current R";
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 2em min-content min-content min-content; 
    height: auto;
    margin: 0;
    background-color: rgb(15, 11, 11);
    }  

    .pageSocial button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    
.pageSocial button {
        background-color: #28272b;
        color: #fff;
    }
    
.pageSocial button:hover {
        background-color: #434247;
    }

.titleJob, .titleName, .titlePFP{
    padding-top: 1em;
}    

.titlePFP{
    padding-left: 1em;
}

.pageNav {
    grid-area: nav;
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    justify-content: center;
    }


.pageTitle {
    grid-area: title;
    display: grid;
    grid-template-areas: 
        "titlePFP titleName titleJob";
    grid-template-columns: 30% 30% 40%;
    }
.titlePFP{
    grid-area: titlePFP;
}
.titleName{
    grid-area: titleName;
}
.titleJob{
    grid-area: titleJob;
}


.pageLink { 
    grid-area: link;   
    display: flex;
    align-items: center;
    justify-content: center;
    }
.pageSocial { 
    grid-area: social; 
    display: flex;
    align-items: center;
    justify-content: center;
    }

.pageCurrent { 
    grid-area: current; 
    display: grid;
    grid-template-areas: 
        "currentList currentSlideshow";
    grid-template-columns: 50% 50%;
    } 

.currentList{
    grid-area: currentList;
}

.currentSlideshow{
    grid-area: currentSlideshow;
}

.WIPslides{
    width: 100%;
    height: 100%;
}
